h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;

  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

button {
  cursor: pointer;

  padding: 0;

  color: inherit;
  border: none;
  background: none;
}

svg {
  display: block;
  fill: currentColor;
}
