<li class='cocktail-card'>

    <img class='cocktail-card__image' src='{{image}}' alt='{{name}} cocktail image' />
    <h2 class='cocktail-card__title'>{{name}}</h2>
    <div class='cocktail-card__buttons-wrapper'>
        <button class='button button--primary'>Learn more</button>
        <button class='button button--secondary cocktail-card__button'>Add to
            <svg class='cocktail-card__button-icon'>
                <use href={{unchecked}}></use>
            </svg></button>
    </div>

</li>
