<li class='ingredient-card'>

    <h2 class='ingredient-card__title'>{{name}}</h2>
    <h2 class='ingredient-card__subtitle'>{{type}}</h2>

    <div class='ingredient-card__buttons-wrapper'>
        <button class='button button--primary'>Learn more</button>
        <button class='button button--secondary ingredient-card__button'>Add to
            <svg class='ingredient-card__button-icon'>
                <use href={{unchecked}}></use>
            </svg></button>
    </div>
</li>
