<div class='ingredient'>

    <h2 class=" ingredient__title">{{name}}</h2>

    <p class="ingredient__type">{{type}}</p>

    <div class="ingredient__line"></div>

    <p class="ingredient__kind">Contains alcohol: {{isAlcohol}}</p>

    <button type='button' class='button button--primary ingredient__add-btn'>Add to
        favorite</button>

</div>
