
    <div class="container">
        <h2 class="section__title section__title--success">Cocktails</h2>
        <ul class="pagination__cards"></ul>
        <div class="pagination__container hidden">
            <button class="pagination__arrow pagination__arrow--prev" id="prev-button">
                <svg width="24" height="24">
                    <use href="./images/icons.svg#pagination-arrow-icon" width="24" height="24"></use>
                </svg>
            </button>
            <div class="pagination__buttons"></div>
            <button class="pagination__arrow" id="next-button">
                <svg width="24" height="24">
                    <use href="./images/icons.svg#pagination-arrow-icon" width="24" height="24"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="fail-result hidden">
        <h2 class="section__title section__title--fail">
            Sorry, we didn't find any cocktail for you
        </h2>
        <div class="not-found-img">
            <svg width="345" height="380">
                <use href="./images/icons.svg#not-found"></use>
            </svg>
        </div>
    </div>
