<section class='section'>
  <div class='container'>
    <h2 class='section__title'>{{title}}</h2>
    <ul class='list'></ul>

    <div class='not-found'>
      {{{notFound}}}
    </div>
  <div class="pagination__container">
    <button class="pagination__arrow pagination__arrow--prev" id="prev-button">
      <svg width="24" height="24">
        <use href={{arrow-svg}}></use>
      </svg>
    </button>
    <div class="pagination__buttons"></div>
    <button class="pagination__arrow" id="next-button">
      <svg width="24" height="24">
        <use href={{arrow-svg}}></use>
      </svg>
    </button>
  </div>
  </div>
</section>