@mixin visibilityHidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin breakpoint($from, $to: false) {
  @if not $to {
    @media screen and (min-width: getBreakpoint($from)) {
      @content;
    }
  } @else if not $from {
    @media screen and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  } @else {
    @media screen and (min-width: getBreakpoint($from)) and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  }
}

/*
* Set font size and line height in multyplier.
*
* $fs - font size without pixels
* $lh - line height without pixels
*/
@mixin setFont($fs, $lh) {
  font-size: $fs + px;
  line-height: calc($lh / $fs);
}

@mixin setTransition($args...) {
  $transitions: ();
  @each $arg in $args {
    $transitions: append(
      $transitions,
      $arg $animation-duration $animation-function,
      comma
    );
  }
  transition: $transitions;
}

///////////////////////////
@mixin mq($val) {
  @if $val==mob {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $val==mob-only {
    @media (max-width:#{$tablet - 0.02}) {
      @content;
    }
  } @else if $val==tab {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $val==tab-only {
    @media (min-width:$tablet) and (max-width:#{$desktop - 0.02}) {
      @content;
    }
  } @else if $val==desc {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $val==noDesc {
    @media (max-width:#{$desktop - 0.02}) {
      @content;
    }
  } @else if $val==retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}

@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@mixin transition {
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
