<footer class="footer">
    <div class="container footer__container">
        <a class="footer__logo-link" href="https://github.com/orgs/GoIT-Javascript-Command-Project/people"
            target="_blank"><img class="footer__logo" src="./images/logo-devoops.svg" alt="web-developers logotype"
                width="130px"></a>
        <p class="footer__copyright-text"><a class="footer__copyright-link" href="#">©2022 Dev'oops Web Masters</a></p>
        <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#">About</a></li>
            <li class="footer__item"><a class="footer__link footer__link--marked"
                    href="https://github.com/orgs/GoIT-Javascript-Command-Project/people" target="_blank">Our Team</a>
            </li>
            <li class="footer__item"><a class="footer__link footer__link--marked" href="#">Portfolio</a></li>
            <li class="footer__item"><a class="footer__link footer__link--marked"
                    href="https://github.com/GoIT-Javascript-Command-Project/Cocktails" target="_blank">GitHub</a></li>
            <li class="footer__item"><a class="footer__link footer__link--marked" href="#">Contact</a></li>
        </ul>
    </div>
</footer>
