

.cocktail-card {
    padding-bottom: 24px;
    min-width: 280px;
    max-width: 100%;

    border: 1px solid var(--accent-color);
    border-radius: 4px;

    overflow: hidden;

    @include breakpoint(tablet) {
        padding-bottom: 20px;
        width: calc((100% - 32px) / 2);
    }

    @include breakpoint(desktop) {
        padding-bottom: 28px;
        width: calc((100% - 64px) / 3);
    }
}

.cocktail-card__image {
    margin-bottom: 48px;

    @include breakpoint(tablet) {
        margin-bottom: 20px;
    }
}

.cocktail-card__title {
    margin-bottom: 16px;
    padding: 0 28px;
    overflow: hidden;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    @include setFont(26, 42);
    text-align: center;

    @include breakpoint(tablet) {
        max-height: 38px;
        margin-bottom: 25px;
        @include setFont(28, 33);
    }

    @include breakpoint(desktop) {
        margin-bottom: 27px;
        @include setFont(32, 38);
    }
}

.cocktail-card__button {
    display: flex;
    justify-content: center;
    column-gap: 8px;

    @include breakpoint(tablet) {
        column-gap: 4px;
    }

    @include breakpoint(desktop) {
        column-gap: 8px;
    }

}

.cocktail-card__buttons-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 17px;

    @include breakpoint(tablet) {
        column-gap: 12px;
    }

    @include breakpoint(desktop) {
        column-gap: 16px;
    }
}

.cocktail-card__button-icon {
    width: 19px;
    height: 17px;

    @include breakpoint(tablet) {
        width: 21px;
        height: 19px;
    }
}
