
.container {
    --padding: 20px;

    max-width: $mobile;
    padding-left: var(--padding);
    padding-right: var(--padding);
    
@include breakpoint(mobile) {
    margin: 0 auto;
}

@include breakpoint(tablet) {
    --padding: 32px;
     max-width: $tablet;
}

@include breakpoint(desktop) {
--padding: 15px;
 max-width: $desktop;
}

}