.pagination__container {
  @include breakpoint(false, tablet) {
    margin-top: 40px;
  }
  margin-top: 32px;

  display: flex;
  justify-content: center;
}
.pagination__arrow {
  
  color: var(--primary-text-color);
  background-color: var(--background-color);
  &--prev {
    
    transform: rotate(180deg);
    
    
  }
  &.disabled {
    cursor: not-allowed;
    color: var(--gray-color);
  }
  &:not(.disabled):hover {
    color: var(--accent-color);
  }
}
.pagination__number {
  font-family: 'Montserrat', sans-serif;
  @include breakpoint(false, tablet) {
    font-size: 12px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
   
    &:first-child {
      margin-left: 8px;
    }
  }

  font-size: 16px;
  background-color: var(--background-color);
  color: var(--pagination-number-color);
  margin-right: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-button-color);
  @include setTransition(color, background-color);
  @include breakpoint (tablet) {
  &:first-child {
    margin-left: 12px;
  }
}

  &.active {
    color: var(--background-color);
    background-color: var(--primary-button-color);
  }

  &:hover {
    color: var(--background-color);
    background: var(--accent-color);
  }
}
.pagination__dots {
  font-size: 12px;
  color: var(--primary-button-color);
  margin-right: 12px;
  @include breakpoint (false, tablet) {
    margin-right: 8px;
  }
}
.hidden {
  display: none;
}
