
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section__title {
    @include setFont(48, 72);
    margin-bottom: 60px;
    text-align: center;
    &--fail {
        width: 493px;
        margin-right: auto;
        margin-left: auto;
    }
}

